*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*구글링*/
}
header{
    background-image: url("../images/background.jpg");
    height: 600px;
    background-size: 100% 100%;
}
nav{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.logo{
    margin: 10px 0 0 20px ;
    color: white ;
    font-size: 35px;
    font-weight: 800;
}

.menu ul{
    margin: 15px 20px 0 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px ;
    list-style-type: none;
}
.menu ul a {
    text-decoration: none;
    color: white;
    font-weight: 880;
}

.search__box{
    width: 430px;
    background-color: white;
    display: inline-block;
    padding: 20px 30px;
    position: relative;
    top: 10px;
    left: 50px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(112, 106, 106, 0.596);
}
.search__title{
    padding: 10px 0x;
    font-size: 30px;
    font-weight: 800;
    color: rgb(75, 75, 75);
}
table{
    width: 100%;
}
.search__sub_title{
    padding: 10px 0;
    font-size: 12px;
    font-weight: 600;
}
.search__input{
    height: 45px;
    width: 100%;
    color: rgb(100,98,98);
    font-size: 15px;
    border: 1px solid rgb(230,227,227)
}
.search__button{
    display: grid;
    justify-content: end;
    padding: 20px 0;
}
.search__button button{
    background-color: #FF385C;
    color: white;
    width: 70px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}
main{
    margin: 30px 80px; /*세로 가로*/
}
section{
    margin: 30px;
}
.sec__title{
    font-size: 25px;
    font-weight: 800;
    color: rgb(66,66,66);
}
.card__box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 20px;
}
.card__img1{
    background-image: url("../images/card1.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card__img2{
    background-image: url("../images/card2.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card__img3{
    background-image: url("../images/card3.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card__img4{
    background-image: url("../images/card4.jpg");
    height: 70px;
    background-size: 100% 100%;
}
.card{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid rgb(210,210,210);
    border-radius: 6px;
    box-shadow: 0 3px 3px 0 rgb(170 ,170 ,170);
    
}
.card__content{
    display: grid;
    align-items: center;
    margin-left: 10px;
    font-weight: 600;
}
.ad1{
   background-image: url("../images/ad1.jpg");
   height: 350px;
   background-size: 100% 100%;
   border-radius: 20px;
}
.choo__box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 20px;
}
.choo__img1{
    background-image: url("../images/choo1.png");
    height: 250px;
    background-size: 100% 100%;
}
.choo__img2{
    background-image: url("../images/choo2.png");
    height: 250px;
    background-size: 100% 100%;
}
.choo__img3{
    background-image: url("../images/choo3.png");
    height: 250px;
    background-size: 100% 100%;
}
.choo__img4{
    background-image: url("../images/choo4.png");
    height: 250px;
    background-size: 100% 100%;
}
.choo__img5{
    background-image: url("../images/choo5.png");
    height: 250px;
    background-size: 100% 100%;
}
.ad2{
    background-image: url("../images/ad2.png");
    height: 300px;
    background-size: 100% 100%;
    margin-top: 20px;
}


.home__box {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.home__img1 {
    background-image: url("../images/home1.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img2 {
    background-image: url("../images/home2.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img3 {
    background-image: url("../images/home3.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img4 {
    background-image: url("../images/home4.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img5 {
    background-image: url("../images/home5.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img6 {
    background-image: url("../images/home6.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img7 {
    background-image: url("../images/home7.png");
    height: 180px;
    background-size: 100% 100%;
}

.home__img8 {
    background-image: url("../images/home8.png");
    height: 180px;
    background-size: 100% 100%;
}
.info1 {
    margin: 5px 0;
    font-size: 13px;
    color:gray;
}

.info2 {
    font-size: 18px;
    font-weight: 600;
    color:rgb(61, 60, 60); 
}

.star {
    font-size: 12px;
    color:rgb(30, 119, 115);
    font-weight: 800;
}

.count, .type {
    font-size: 12px;
}